// Flat UI LESS

// Yieldbot Colors

@yieldbot-green: #c4f123;
@yieldbot-green-dark: darken(@yieldbot-green, 10%);


@yieldbot-purple: #764cb5;
@yieldbot-purple-dark: darken(@yieldbot-purple, 10%);

@yieldbot-grey: #5d5c5c;

@base:             @yieldbot-grey;
@link-color:       @yieldbot-green;
@link-hover-color: @yieldbot-green-dark;

@line-height-base:  			1.5;



/* Page Specific LESS */

.navbar a {
	color: @yieldbot-green;
	&:hover {
		color: @yieldbot-green-dark;
	}
}

.demo-headline {
  padding: 113px 0 40px;
  h1 {
  	padding: 30px 0;
  	font-size: 70px;
  	line-height: 1.0;
  }	
	.cookie-logo {
	    background: ~"url(../images/landing_page/cookie.png) center 0 no-repeat";
	    background-size: 208px 208px;
	    height: 208px;
	    width: 208px;
	    margin: 30px 0 26px;
	    overflow: hidden;
	    text-indent: -9999em;
	}
	small {
    color: fadeout(@base, 30%);
    display: block;
    font-weight: 700;
    letter-spacing: 0;
    padding-top: 15px;
  }
  .overview {
  	text-align: center;
  	font-weight: 300;
  	border-top: 3px solid @clouds;
  	border-bottom: 3px solid @clouds;
  	margin: 70px 0 30px;
  	h4 {
  		font-size: 24px;
  		padding: 70px 0 80px;
  		font-weight: 400;
  		line-height: 1.5;
  	}
  }
}

#narrative-text {
	padding: 10px 0 60px;
	p {
		padding: 10px 0px 30px 0px;
	}
	.red-warning {
		margin: 50px 15px 60px;
		padding: 20px;
		background-color: #ed3a0a;
		color: #fff;
		text-align: center;
		border-radius: @border-radius-large;
		h4 {line-height: 1.5;}
	}
}

.chart {
	width: 100%;
	height: 650px;
	background-color: @carrot;
	color: @pumpkin;
	text-align: center;
	margin: 30px 0 100px;
	border-radius: @border-radius-large;
	h1 {
		padding-top: 300px;
	}
}

	#logo-bank {
		padding: 100px 30px 90px;

		.logo {
			display: table-cell;
		    text-align: center;
		    vertical-align: middle;
			img {
				display: inline-block;
				width: 100%;
			}
		}
	}


/* Footer */


.footer-banner {
	background-color: @yieldbot-purple;
	color: #fff;
	ul li {
		border-color: @yieldbot-purple-dark;
	}
}
